In [9]:
import pandas as pd
import pymysql
from datetime import datetime
from datetime import timedelta
import re

In [10]:
import Analyzer

In [11]:
mk = Analyzer.MarketDB()

In [17]:
mk.get_daily_price('삼성전자', '2020.01.02')

end_date is initialized to '2021-06-22'

              code        date   open   high    low  close  diff    volume
date
2020-01-02  005930  2020-01-02  55500  56000  55000  55200   600  12993228
2020-01-03  005930  2020-01-03  56000  56600  54900  55500   300  15422255
2020-01-06  005930  2020-01-06  54900  55600  54600  55500     0  10278951
2020-01-07  005930  2020-01-07  55700  56400  55600  55800   300  10009778
2020-01-08  005930  2020-01-08  56200  57400  55900  56800  1000  23501171
...            ...         ...    ...    ...    ...    ...   ...       ...
2021-06-14  005930  2021-06-14  80800  80900  80500  80500   500  10550078
2021-06-15  005930  2021-06-15  80900  81200  80600  80900   400  10075685
2021-06-16  005930  2021-06-16  81500  81900  81100  81800   900  14999855
2021-06-17  005930  2021-06-17  81100  81300  80700  80900   900  14007385
2021-06-18  005930  2021-06-18  81100  81100  80500  80500   400  14618173

[363 rows x 8 columns]